@import "tailwindcss";

html, body{
  @apply bg-neutral-950 text-neutral-200;
  font-family: "roboto mono", sans-serif;
}

.font1 {
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}

.font2{
  font-family: 'Tangerine', serif;
}
